<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark custom-navbar" style="opacity: 0.8">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#"><h1 class="text-primary display-3" style="font-size: 2rem; margin-bottom: 0;">K<span
                class="text-danger">a</span>iz <span
                class="text-warning">E</span>vent</h1></a>
        <a class="btn btn-outline-primary" href="#">Đăng nhập</a>
    </div>
</nav>
<header class="text-center bg-danger"
        style="background-image: url(https://static.tkbcdn.com/site/global/content-v2/img/home-search-bg-02.jpg);height: 150px">
    <div class="container pt-5">
        <div class="input-group">
            <input data-autocomplete="search" type="text" class="form-control"
                   placeholder="Search for events, shows, courses..." aria-describedby="sizing-addon1" value=""
                   tabindex="1" autocomplete="off"/>
            <span class="input-text"><button class="btn btn-outline-primary"> Tìm kiếm</button></span>
        </div>
    </div>
</header>
<div class="w-100 bg-white">
    <div class="container clearfix p-5" style="box-sizing: border-box">
        <div class="col-sm-12 input-group">
            <div class="row">
                <div class="col-3 pos-relative p-0 border-bottom-0">
                    <div class="w-100">
                        <select class="form-select form-select-lg" data-location="true" tabindex="94">
                            <option value="">All Locations</option>
                            <option value="ho-chi-minh">Ho Chi Minh</option>
                            <option value="ha-noi">Ha Noi</option>
                            <option value="other-locations">Other locations</option>
                        </select>
                    </div>
                </div>
                <div class="col-3 pos-relative p-0 border-bottom-0">
                    <div class="w-100">
                        <select class="form-select form-select-lg" data-location="true" tabindex="94">
                            <option value="">All Locations</option>
                            <option value="ho-chi-minh">Ho Chi Minh</option>
                            <option value="ha-noi">Ha Noi</option>
                            <option value="other-locations">Other locations</option>
                        </select>
                    </div>
                </div>
                <div class="col-3 pos-relative p-0 border-bottom-0">
                    <div class="w-100">
                        <select class="form-select form-select-lg" data-location="true" tabindex="94">
                            <option value="">All Locations</option>
                            <option value="ho-chi-minh">Ho Chi Minh</option>
                            <option value="ha-noi">Ha Noi</option>
                            <option value="other-locations">Other locations</option>
                        </select>
                    </div>
                </div>
                <div class="col-3 pos-relative p-0 border-bottom-0">
                    <div class="w-100">
                        <select class="form-select form-select-lg" data-location="true" tabindex="94">
                            <option value="">All Locations</option>
                            <option value="ho-chi-minh">Ho Chi Minh</option>
                            <option value="ha-noi">Ha Noi</option>
                            <option value="other-locations">Other locations</option>
                        </select>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<div style="background:whitesmoke ">
    <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/10/25/E596B6.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[Bến Thành] MINISHOW DẠ KHÚC - QUANG DŨNG</h5>
                        <div class="row justify-content-around d-flex mt-2">
                            <div class="col">
                                <p class="card-text">700.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">03/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex mt-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/10/24/D1666B.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">GENfest - CỔNG ÂM NHẠC ĐA GIÁC QUAN</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">800.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">05/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/09/11/A79B0F"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[HN] 1589 - TRUNG QUÂN- 15 YEARS LIVE CONCERT</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">700.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">03/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/09/26/45D998.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SONG MUSIC FESTIVAL</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">800.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">05/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/10/25/E596B6.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[Bến Thành] MINISHOW DẠ KHÚC - QUANG DŨNG</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">700.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">03/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/10/24/D1666B.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">GENfest - CỔNG ÂM NHẠC ĐA GIÁC QUAN</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">800.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">05/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/09/11/A79B0F"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[HN] 1589 - TRUNG QUÂN- 15 YEARS LIVE CONCERT</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">700.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">03/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/09/26/45D998.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SONG MUSIC FESTIVAL</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">800.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">05/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/10/25/E596B6.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[Bến Thành] MINISHOW DẠ KHÚC - QUANG DŨNG</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">700.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">03/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/10/24/D1666B.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">GENfest - CỔNG ÂM NHẠC ĐA GIÁC QUAN</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">800.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">05/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/09/11/A79B0F"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[HN] 1589 - TRUNG QUÂN- 15 YEARS LIVE CONCERT</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">700.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">03/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2 my-2">
                <div class="card h-100">
                    <div class="h-50">
                        <img src="https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/09/26/45D998.jpg"
                             class="card-img-top" alt="Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">SONG MUSIC FESTIVAL</h5>

                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">800.000đ</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">05/11/2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-around d-flex my-2">
                            <div class="col">
                                <p class="card-text">Live music</p>
                            </div>
                            <div class="col-auto">
                                <p class="card-text">Hồ Chí Minh</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary display-3" style="font-size: 2rem; margin-bottom: 0;">K<span
                class="text-danger">a</span>iz <span
                class="text-warning">E</span>vent</h1>
        <p>Thuận lợi song hành</p>
      </div>
      <div class="col-md-6">
        <h5>Thông tin chi tiết</h5>
        <p> Liên hệ tòa nhà </p>
      </div>
    </div>
  </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</html>