<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Booking</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="/static/css/bookings.css"/>
  <link rel="stylesheet" href="/static/css/ticket.css">
  <!-- Box Icon -->
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
  />
  <!-- or -->
  <link
          rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <style>
    
  </style>
</head>
<body>
<!-- Header -->
<header>
  <section th:replace="/nav_bar">
  </section>
</header>
<!-- Bookings Container Start -->
<div class="booking container">
  <div class="ticket-list">
    <div class="ticket-title">Your ticket(s)</div>
    <!-- Ticket Item Start -->
    <div class="ticket-item" th:each="ticket: ${bookingsList}">
      <div class="ticket">
        <div class="left">
          <div class="image">
            <img
                    class="image-item"
                    th:src="${ticket.getScreenings().getMovie().img}"
                    alt=""
            />
            <p class="admit-one">
              <span>RetroCinema</span>
            </p>
          </div>
          <div class="ticket-info">
            <p class="date">
              <span class="june-29" th:text="${ticket.getScreenings().getDateMovie()}">2023-01-01</span>
            </p>
            <div class="show-name">
              <h2 th:text="${ticket.getScreenings().getMovie().movieName}">Movie Name</h2>
            </div>
            <div class="time">
              <p>
                <span th:text="${ticket.getScreenings().getShowTimes().getStartTime() + ' '}">8:00 PM</span>
                <span>TO</span>
                <span th:text="${' ' + ticket.getScreenings().getShowTimes().getEndTime() + ' '}">11:00 PM</span>
                <span>@ &nbsp;</span>
                <span th:text="${ticket.getScreenings().getShowTimes().getRooms().roomName}">Room</span>
              <p th:text="${ticket.getSeats().getSeatName()}">Seat Name</p>
              </p>
            </div>
            <p class="location">
              <span>Retro Cinema -  </span>
              <span> 280 Tran Hung Dao St.</span>
            </p>
          </div>
        </div>
        <div class="right">
          <p class="admit-one">
            <span>RetroCinema</span>
          </p>
          <div class="right-info-container">
            <div class="time">
              <p>
                <span th:text="${ticket.getScreenings().getShowTimes().getStartTime() + ' '}">8:00 PM</span>
                <span>@</span>
                <span th:text="${' ' + ticket.getScreenings().getShowTimes().getRooms().roomName}">Room</span>
              </p>
              <p th:text="${ticket.getSeats().getSeatName()}">Seat Name</p>
            </div>
            <div class="barcode">
              <img
                      th:src="${ticket.getQrCode()}"
                      alt="QR code"
              />
            </div>
          </div>
        </div>
      </div>
      <div id="userIdHidden" th:text="${ticket.getAccountUser().id}" style="display: none"></div>
      <div id="screeningIdHidden" th:text="${ticket.getScreenings().id}" style="display: none"></div>
    </div>
    <!-- Ticket Item End -->
  </div>
</div>
<!-- Bookings Container End -->
<!-- Footer -->
<footer>
  <div class="info container">
    <div class="info-text">
      <p>280 Tran Hung Dao Street, Da Nang City, Viet Nam</p>
      <p>RETRO CINEMA &copy; COPYRIGHT 2023 ALL RIGHTS RESERVED</p>
    </div>
    <div class="info-logo">
      <a href="https://www.facebook.com" class="info-logo-item"
      ><i class="bx bxl-facebook-square"></i
      ></a>
      <a href="https://www.instagram.com" class="info-logo-item"
      ><i class="bx bxl-instagram"></i
      ></a>
      <a href="https://www.youtube.com" class="info-logo-item"
      ><i class="bx bxl-youtube"></i
      ></a>
    </div>
  </div>
</footer>
<!-- Link to main js -->
<script src="/static/js/home.js"></script>
<form action="/confirm" method="post" id="confirmForm">
  <input type="hidden" name="userId" id="userId">
  <input type="hidden" name="screeningId" id="screeningId">
</form>
<script>
  function toLogin() {
    window.location.href = "/login";
  }
  function toLogout() {
    window.location.href = "/logout";
  }
  function toPreference() {
    window.location.href = "/preference";
  }
  function toCustomerDetails() {
    document.getElementById("toCustomerPreference").submit();
  }
  function toSearch() {
    let name = document.getElementById("search-input").value;
    window.location.href = "?name="+name;
  }
</script>
</body>
</html>